<%- include('partials/headernew.ejs') %>
<style>
  .question {
    margin-top: 30px;
    border: 1px solid black;
    padding-top: 25px;
    padding-bottom: 55px;
    padding-left: 25px;
    border-radius: 5px;
    height: 75px;
    width: 75%;
  }
  .goleft {
    float: left;
  }
  .goright {
    float: right;
  }
</style>
<body onload="addQuestions()">
  <center>
    <div id="new"></div>
    <% question.forEach(function(question){ %>
      <div class="question">
        <a href = "/question/<%=question._id%>">
          <p>The Question is :- <%= question.text %></p>
        </a>
      </div>
      <form class="vote-up" data-id="<%=question._id%>">
        <button type="submit">Vote Up</button>
      </form>
      <form class="vote-down" data-id="<%=question._id%>">
        <button type="submit">Vote Down</button>
      </form>
    <% }) %>
  </center>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script rel="script" src="/js/posts.js"></script>
</body>
<%- include('partials/footer.ejs') %>
